.badge {
    background-color: #ff6228;
    font-size: 15px;
    font-weight: 600;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    color: #f9f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
